* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  
}

window#waybar {
  background: transparent;
  transition-property: background-color;
}

/*=========================
* Workspaces
* ≃======================*/

#workspaces {
  background: #ffffff;
  margin: 5px 5px 5px 5px;
  padding: 6px 1px;
  border-radius: 12px;
  font-weight: normal;
  font-style: normal;
  opacity: 0.8;
}

#workspaces button {
  padding: 0px 10px;
  margin: 0px 3px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
  font-size: 13px;
  background-color: #888888;
}

#workspaces button.active {
  color: #cdd6f4;
  background-color:#000000 ;
  border-radius: 10px;
  min-width: 30px;
  transition: all 0.3s ease-in-out;
  opacity: 1.0; } #clock, #taskbar,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#idle_inhibitor,
#power-profiles-daemon,
#mpd {
  background-color: #ffffff;
  color: #000000;
  margin: 5px 5px 5px 5px;
  padding: 0 15px 0 15px;
  border-radius: 12px;
  font-weight: normal;
  font-style: normal;
  opacity: 0.8;
}


/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


/*====================
*Power Profile
====================*/


#power-profiles-daemon.performance {
  background-color: #f53c3c;
  color: #ffffff;
}

#power-profiles-daemon.balanced {
  background-color: #ffffff;
  color: #000000;
  padding-left: 8px;
}

#power-profiles-daemon.power-saver {
  background-color: #00bf03;
  color: #ffffff;
}

/*=================
*Hardware
=================*/
#cpu {
  background-color: #ffffff;
  color: #000000;
}

#memory {
  background-color: #ffffff;
  color: #000000;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio.muted {
  background-color: #888888;
  color: #000000;
}


#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#temperature {
  background-color: #ffffff;
  color: #000000;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #ffffff;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

/*===================
*Music
===================*/
#mpd {
  background-color: #ffffff;
  color: #000000;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #ffffff;
}

#mpd.paused {
  background-color: #ffffff;
}


